#UserProfil {

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    #UserProfilCard {

        min-width: 100px;
        max-width: 500px;
        min-height: 100px;
        background-color: white;
        border-radius: 30px;
        padding: 24px;


        #headerUserProfil-header {
            display: flex;
            justify-content: space-between;
        }

        #headerUserProfil-image-container {
            width: 100%;
            min-width: 300px;
            display: flex;
            justify-content: center;

            img {
                width: 30%;
                border-radius: 50%;
            }
        }

        #headerUserProfil-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #status {
            display: flex;
            align-items: center;
            gap: 12px;

            #statusIcon {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                //background-color: green;
            }

            #statusFont {
                //color: green;
                margin: 0px;
            }
        }
        


        #headerUserProfil-email {
            display: flex;
            flex-direction: column;

            #headerUserProfil-email-header {
                display: flex;
                gap: 12px;
            }
        }
    }
}

.col-red{
    color: red;
    #statusIcon {
        background-color: red
    }
}
.col-green{
    color: green;
    #statusIcon {
        background-color: green;
    }
}
.col-gray{
    color: gray;
    #statusIcon {
        background-color: gray;
    }
}