<app-addreaction *ngIf="showEmojiBar" (emojiSelectedOutput)="handleEmojiSelection($event)"></app-addreaction>
<div class="msg-create-container">
    <div class='option-icons'>
        <div class="msg-mods">
            <img src="assets/img/icons/add.svg">
            <img src="assets/img/icons/addreaction.svg" (click)="toggleEmojiBar($event)">
            <img src="assets/img/icons/alternateemail.svg" (click)="toogleUserSearch($event)">
        </div>
        <div class="msg-send">
            <img src="assets/img/icons/send.svg" (click)="createMessage()">
        </div>
    </div>

    <app-user-search *ngIf="showUserSearch" [message]="message" (userName)="handleUserSearchResult($event)"></app-user-search>
    
    <div>
        <textarea #textInput cdkTextareaAutosize #messageCreate class="msg-write-container" [(ngModel)]="message.content"
            *ngIf="channelFirebaseService.selectedChannel" placeholder="{{getPlaceholder()}}" (click)="closeEmojiBar()"
            (keyup)="toogleUserSearch($event)">
        </textarea>
    </div>
</div>