<mat-card id="channel" class="br-30">
    <mat-card-content id="channel-content">channel</mat-card-content>
    <ul>
        <!-- <li *ngFor="let user of channelData.users">{{ }}      </li>-->
    </ul>

    <div *ngIf="channelFirebaseService.currentChannel">
        <div *ngFor="let messageRef of channelFirebaseService.currentChannel.messages">
            <app-message [id]="messageRef"></app-message>
        </div>
    </div>
    
    <app-message-create></app-message-create>

    
</mat-card>