#channel {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    border-radius: 30px;
    padding: 35px;

}

.align-bottom {
    position: sticky;
    bottom: 0;
}

.chat-container {
    overflow-y: auto;
    height: 100%;
}