<mat-card id="channel" *ngIf="channelService.selectedChannel  && userService.currentUser.id!='' ">
    <div class='header'>
        <div class="header-title" width="fit-content">
            <div class="header-title-container" (mouseover)="hoverTitle=true" (mouseout)="hoverTitle=false"
                (click)="showEditChannel = true">
                <h2># {{formatService.cutStrLen(channelService.selectedChannel.channelName)}}</h2>
                <div class="header-title-container-icons">
                    <img *ngIf="!hoverTitle" src="assets/img/icons/arrow_down_black.svg" alt="dropdown_black">
                    <img *ngIf="hoverTitle" src="assets/img/icons/arrow_down_blue.svg" alt="dropdown_blue">
                </div>
            </div>
        </div>

        <div class="addMemberContainer">
            <div class="user-avatar-list" (click)="showChannelUsers=true">
                <img class="avatar-img"
                    *ngFor="let user of channelService.userOnCurrentChannel | slice:0:3; let i = index"
                    [style.left]="i * -10 + 'px'" [style.z-index]="3 - i" [src]="user.avatar" alt="avatar">
                <span class="amoundOfUsersInChannel">{{channelService.userOnCurrentChannel.length}}</span>
            </div>

            <img 
                *ngIf="windowWidth > 768"
                (click)="this.showEditChannelUsers = true"
                src="assets/img/icons/addmembers.svg">
            <img 
                *ngIf="windowWidth <= 768"
                (click)="this.showChannelUsers = true"
                src="assets/img/icons/addmembers.svg">
        </div>
    </div>

    <div class="chat-container">
        <ng-container *ngIf="channelService.selectedChannelMessages.length>0; else emptyChannel">
            <div *ngFor="let message of channelService.selectedChannelMessages; let i = index">
                <app-message [message]="message" [messageLocationName]="'channel'"></app-message>
                <ng-template [appIfChanged]="getMessageTime(message)">
                    <app-date-line *ngIf="channelService.selectedChannelMessages[i-1]"
                        [messageTime]="getMessageTime(channelService.selectedChannelMessages[i-1])"></app-date-line>
                </ng-template>
            </div>

            <app-date-line
                *ngIf="channelService.selectedChannelMessages[channelService.selectedChannelMessages.length-1]"
                [messageTime]="getMessageTime(channelService.selectedChannelMessages[channelService.selectedChannelMessages.length-1])">
            </app-date-line>
        </ng-container>

        <ng-template #emptyChannel>
            <!-- add- Profile Link-->
            <div class="channel-display">
                <div class='channel-header'>
                    <h3># {{ channelService.selectedChannel.channelName }}</h3>
                </div>
                <div class="channel-text">
                    Das ist der Anfang des Channels <a href="#"># {{ channelService.selectedChannel.channelName
                        }}</a>
                </div>
            </div>
        </ng-template>
    </div>

    <app-message-create [path]="channelService.currentChannelMessagePath" [currentLocation]="'channel'"></app-message-create>

    <app-edit-channel 
        *ngIf="showEditChannel" (closeEvent)="closeEditDialog()" (addUserEvent)="this.showEditChannelUsers = true">
    </app-edit-channel>

    <app-show-channel-users 
        *ngIf="showChannelUsers" 
        (closeEvent)="closeShowUsersDialog($event)">
    </app-show-channel-users>

    <app-edit-channel-users 
        *ngIf="showEditChannelUsers" 
        [refChannel]="channelService.selectedChannel" 
        (closeEvent)="closeEditUsersDialog()">
    </app-edit-channel-users>

</mat-card>