<mat-card id="thread" class="br-30">
    <mat-card-content id="thread-content">
        <div class="threadHeader">
            <div><span>Thread</span>
                <span class="channelNameHeader" *ngIf="message">
                    # {{channelFirebaseService.selectedChannel?.channelName }}</span>
            </div>
            <img class="closeIcon" src="assets/img/icons/close.svg">
        </div>


        <app-message [message]="message" [messageLocationName]="'thread'"></app-message>

        <div class="chat-container">
            <div *ngFor="let answer of threadFirebaseService.loadedAnswers; let i = index">
                <app-message [message]="answer" [messageLocationName]="'thread'"></app-message>
                <ng-template [appIfChanged]="getMessageTimeString(answer)">
                    <app-date-line *ngIf="threadFirebaseService.loadedAnswers[i-1]"
                        [messageTime]="getMessageTimeString(threadFirebaseService.loadedAnswers[i-1])"></app-date-line>
                </ng-template>
            </div>

            <app-date-line *ngIf="threadFirebaseService.loadedAnswers[threadFirebaseService.loadedAnswers.length-1]"
                [messageTime]="getMessageTimeString(threadFirebaseService.loadedAnswers[threadFirebaseService.loadedAnswers.length-1])">
            </app-date-line>
        </div>

        <app-message-create [path]="answersPath"></app-message-create>
       


    </mat-card-content>

</mat-card>
