<mat-card id="sidenav" class="br-30">
    <!--<mat-card-content id="sidenav-content">Side Nav</mat-card-content>-->

    <div class="sidenavHeader">
        <img src="/assets/img/logo/codeLearningLogo.png">
        <h3>Code learning</h3>
        <button mat-icon-button class="editSquare">
            <mat-icon>
                <img src="/assets/img/icons/editSquare.png">
            </mat-icon>
        </button>
    </div>


    <div class="myChannelsContainer">

        <div class="myChannelsHeader">
            <div (click)="showChannels()" class="myChannelsHeader2">
                <img class="pad-right17 arrow_drop_channels" id="arrow_drop_channels"
                    [src]="unpackChannels ? '/assets/img/icons/arrow_drop_down.png' : '/assets/img/icons/arrow_drop.png'">
                <img class="pad-right17 workspaces" src="/assets/img/icons/workspaces.png">
                <h3 class="myChannelsHeaderText">Channels</h3>
            </div>
            <button (click)="openDialog()" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="myChannelsDropdown pad-left60" id="myChannelsDropdown" *ngIf="unpackChannels">

            <div class="myChannels">
                <div class="myChannels-channel" 
                    *ngFor=" let channel of channelFirebaseService.loadedChannels" 
                    (click)="channelFirebaseService.selectChannel(channel.id)"
                    [class.myChannels-channel-selected]="channelFirebaseService.getSelectedChannelID()===channel.id">
                    <h2 class="myChannels-channel-icon">#</h2> 
                    <h3 class="myChannels-channel-name">{{ channel.channelName }}</h3>
                </div>
            </div>

            <div class="addChannel">
                <img class="pad-right17" src="/assets/img/icons/add_circle.png">
                Channel hinzufügen
            </div>
        </div>
    </div>

    <div class="myMessagesContainer">
        <div (click)="showMessages()" class="myMessagesHeader">
            <img class="pad-right17 arrow_drop" src="/assets/img/icons/arrow_drop.png"
                [src]="unpackMessages ? '/assets/img/icons/arrow_drop_down.png' : '/assets/img/icons/arrow_drop.png'">
            <img class="pad-right17 accountIcon" src="/assets/img/icons/accountIcon.png">
            <h3 class="myMessagesHeaderText">Direktnachrichten</h3>
        </div>

        <div class="myMessages" id="myMessages" *ngIf="unpackMessages">
            <div class="message">
                <img class="avatar0" src="/assets/img/avatar/avatar0.svg">
                <b (click)="openUserProfil(this.currentUser)">{{currentUser.fullName}} (Du)</b>
            </div>

            <div class="message">
                <img class="avatar0" src="/assets/img/avatar/avatar0.svg">
                <b>Frederick Beck(Du)</b>
            </div>
        </div>

    
      <!--   <div class="addChannel">
            <img class="pad-right17" src="/assets/img/icons/add_circle.png">
            Leute hinzufügen
        </div> -->

        <!--
            <app-user-search *ngIf="showUserSearch" [message]="message" (userName)="handleUserSearchResult($event)"></app-user-search>
        -->
        

    </div>

</mat-card>