<div id="main-container" *ngIf="userFirebaseService.loadedUsers.length>0">
    
    <app-header id="main-header" ></app-header>
    
    <div id="main-body" *ngIf="channelFirebaseService.loadedChannels.length>0">    
        <app-sidenav *ngIf="sideNavOpen" id="main-sidebar"></app-sidenav>
        <app-chat *ngIf="chatFirebaseService.selectedChatId" id="main-chat"></app-chat>
        <app-channel *ngIf="channelFirebaseService.selectedChannelId" id="main-channel"></app-channel>
        
        <!-- <app-channel *ngIf="!channelOpen" id="main-chat"></app-channel>-->
        <app-thread id="main-thread" *ngIf="threadFirebaseService.message"></app-thread>
    </div>
</div>

<div (click)="toggleSideNav()" id="workspace">
    <h4 *ngIf="sideNavOpen">Workspace-Menü schließen</h4>
    <h4 *ngIf="!sideNavOpen">Workspace-Menü öffnen</h4>
</div>

<div *ngIf="userProfilOpen">
    <app-user-profil [user]="userProfilUser"></app-user-profil>
</div>
