<div id="main-container">

    <app-header id="main-header"></app-header>
    
    <div id="main-body">    
        <app-sidenav id="main-sidebar"></app-sidenav>
        <app-channel *ngIf="channelOpen" id="main-channel"></app-channel>
        <app-channel *ngIf="!channelOpen" id="main-chat"></app-channel>
        <app-thread id="main-thread"></app-thread>
    </div>
</div>


<!--
EXAMPLE MESSAGE OUTPUT
<app-message [id]="messageRef"></app-message>
<app-message [id]="messageRef2"></app-message>
-->
