$sideNav-width: 300px; 
$thread-width: 600px;

app-channel{
    flex-grow: 1;
}

#main-container{
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: calc(100vh - 48px);
    padding: 24px;

    #main-body{
        
        display: flex;
        justify-content: space-between;
        gap:12px; 
        height: 100%;
        #main-sidebar{
           width: $sideNav-width;
        }
        #main-channel{

        }
        #main-chat{
            
        }
        #main-thread{
            width: $thread-width;
        }

    }
}

#workspace{
    position: fixed;
    left: -125px;
    bottom: 30vh;
    z-index: 10;
    width: 250px;
    transform: rotate(90deg);
    border-radius: 30px 30px 0px 0px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 11px 28px 77px 0px rgba(0,0,0,0.75);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: #535AF1;
        cursor: pointer;
    }
}