<div id="header-container">
    <div id="header-image-container">
        <img src="assets/img/logo/logo.svg" alt="DABubble Logo">
    </div>
    <input id="header-searchfield" type="text" placeholder="Code learning durchsuchen">
    <div id="header-user">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <div id="header-user-icon">
            <img src="assets/img/avatar/avatar1.svg" alt="UserIcon">
            <div id="header-status"></div>
        </div>
        <div id="headerDropdown">
            <button mat-icon-button (click)="toogleHeaderMenu()">
                <mat-icon>expand_more</mat-icon>
            </button>
      
            
           <!--  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>expand_more</mat-icon>
              </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Profil</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu> -->
        </div>
    </div>
    <div id="headerMenu" *ngIf="showHeaderMenu">
        <a>Profil</a>
        <a (click)="logout()">Logout</a>
    </div>
</div>
