#header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #header-searchfield{
        width: 50%;
        border-radius: 42px;
        height: 40px;
    }
}