$headerImage-width: 300px; 
$headerUser-width: 300px; 

#header-container{
    width: 100%;
    gap:12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    #header-image-container{
        min-width: $headerImage-width;
    }

    #header-searchfield{
        flex-grow: 1;
        width: 50%;
        border-radius: 42px;
        height: 40px;
        border: 0px;
        padding-left: 24px;
    }
    #header-user{
        display: flex;
        align-items: center;
        gap:12px;
        min-width: $headerUser-width;
        #header-user-icon{
            position: relative;
            img{
                width: 50px;
                border-radius: 50%;
            }
            #header-status{
                position: absolute;
                bottom: 4px;
                right: 4px;
                min-width: 10px;
                min-height: 10px;
                border-radius: 50%;
                background-color: green;
                z-index: 10;
                border: 1px solid white;
            }
        }
    }
}