.msg-edit-container {
    position: relative;
    width: calc(100% - 40px);
    background-color: rgb(255, 255, 255);
    border: solid 1px #ADB0D9;
    border-radius: 20px;
    padding: 20px;

    .options {
        z-index: 9;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .msg-mods {
            height: 24px;
        }

        .msg-submit-options {
            display: flex;
            gap: 32px;

            .msg-send {
                display: flex;
                gap: 32px;

                button{
                    border-radius: 24px;
                    padding: 12px 25px 12px 25px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24.55px;
                    text-align: center;
                }
                
                .back {
                    background-color: white;
                    color:#797EF3;
                    border: 1px solid #797EF3;
                }

                .submit {
                    color: white;
                    background-color: #444DF2;
                    border: none;
                }
            }
        }
    }

    .msg-write-container {
        width: 100%;
        margin-bottom: 36px;
        border: none;
        min-height: 30px;
        font-size: 18px;
        line-height: 24.55px;

        textarea {
            background-color: white;
            border: none;
            height: fit-content;
        }

        &:focus {
            outline: none;
        }
    }
}