<app-addreaction *ngIf="showEmojiBar" (emojiSelectedOutput)="handleEmojiSelection($event)"></app-addreaction>
<div class="msg-edit-container" *ngIf="_message">
    <div class='options'>
        <div class="msg-mods">
            <img src="assets/img/icons/addreaction.svg" (click)="toggleEmojiBar($event)">
        </div>
        <div class="msg-submit-options">
            <div class="msg-send">
                <button (click)="saveMessage()">Zurück</button>
            </div>
            <div class="msg-send">
                <button (click)="saveMessage()">Speichern</button>
            </div>
        </div>

    </div>
    <textarea cdkTextareaAutosize #messageCreate class="msg-write-container" [(ngModel)]="_message.content"
        *ngIf="channelFirebaseService.selectedChannel"  (click)="closeEmojiBar()">
</textarea>
</div>