<div class='message-container' [ngClass]="{'inverted': isOwnMessage}" *ngIf="_message"
    (mouseleave)="closeToolbar();closeEmojiBar()" (mouseenter)="openToolbar()">
    <app-toolbar *ngIf="showToolbar" [isOwnMessage]="isOwnMessage" [message]="_message"
        [messageLocation]="messageLocation" (emojiSelectedOutput)="handleEmojiSelection($event)">
    </app-toolbar>
    <img src="{{ autorAvatar }}" class="message-img" *ngIf="autorAvatar">
    <div class="message-content" tabindex="0">
        <div class="message-head">
            <div> {{ formatTimestampToHHMM(_message.timestamp) }}</div>
            <div *ngIf="autorName!=''"><b>{{ autorName }}</b></div>
        </div>

        <mat-card>

            <mat-card-content>{{ _message.content }}</mat-card-content>
        </mat-card>

        <app-addreaction *ngIf="showMessageReactions" class="message-reaction-options"
            (emojiSelectedOutput)="handleEmojiSelection($event)"></app-addreaction>
        <div class='message-footer'>
            <div *ngFor="let reaction of messageFirebaseService.loadedReactions" class="reaction-smileys">
                <div class="emoji-container">
                    <app-reaction [reaction]="reaction"
                        (emojiSelectedOutput)="handleEmojiSelection($event)"></app-reaction>
                </div>
            </div>
            <img src="assets/img/icons/addreactionplus.svg" (click)="toggleReactions($event)">
        </div>
    </div>

</div>