<div class='message-container' *ngIf="_message">
    <img src="{{ autorAvatar }}" width="40px" height="40px" class="message-img" *ngIf="autorAvatar">
    <div class="message-content">
        <div class="message-head">
            <div> {{ formatTimestampToHHMM(_message.timestamp) }}</div>
            <div *ngIf="autorName!=''"><b>{{ autorName }}</b></div>
        </div>
        <mat-card>
            <mat-card-content>{{ _message.content }}</mat-card-content>
        </mat-card>
    </div>
</div>


<div class='message-container inverted' *ngIf="_message">
    <img src="{{ autorAvatar }}" class="message-img" *ngIf="autorAvatar">
    <div class="message-content">
        <div class="message-head">
            <div> {{ formatTimestampToHHMM(_message.timestamp) }}</div>
            <div *ngIf="autorName!=''"><b>{{ autorName }}</b></div>
        </div>
        <mat-card>
            <mat-card-content>{{ _message.content }}</mat-card-content>
        </mat-card>
    </div>
</div>