.message-container {
    width: calc(100% - 70px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding: 0 35px 0 35px;

    .message-img {
        width: 70px;
        height: 70px;
        padding: 10px;
        border-radius: 50%;
        object-fit: cover;
    }

    .message-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .message-head {
            display: flex;
            flex-direction: row;
            gap: 16px;

            div {
                width: fit-content;
            }

        }

        mat-card {
            width: fit-content;
            background-color: #ECEEFE;
            border-radius: 0 30px 30px 30px;

            mat-card-content {
                font-size: 18px;
                font-weight: 400;
                line-height: 24.55px;
                padding: 20px;
                white-space: pre-wrap;
            }

            app-toolbar {
                position: absolute;
                bottom: calc(100% + 10px);
                right: 0;
                z-index: 99;
            }


        }


        .message-footer {

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .reaction-smileys {
                display: flex;
                
            }
        }


    }

    &:hover {
        background-color: #ECEEFE;

        .message-content {
            mat-card {
                background-color: white;
            }
        }

    }

    app-toolbar {
        position: absolute;
        transform: translateY(-50%);
        z-index: 9;
        margin: 16px;
    }




}

.inverted {
    flex-direction: row-reverse;

    .message-content {
        align-items: end;

        .message-head {
            flex-direction: row-reverse;
        }

        mat-card {
            border-radius: 30px 0 30px 30px;
            background-color: #797EF3;
            color: white;

            app-toolbar {
                left: unset;
                right: 0;
            }
        }


    }

    &:hover {

        background-color: #ECEEFE;

        .message-content {
            mat-card {
                background-color: #797EF3;
            }
        }
    }


}