<div class='message-container' *ngIf="_message" >
    <div class="message-head">
        <div> {{ formatTimestampToHHMM(_message.timestamp) }}</div>
        <div><b>{{ userName }}</b></div>
    </div>
    <mat-card>
        <mat-card-content>{{ _message.content }}</mat-card-content>
    </mat-card>
</div>


<div class='message-container inverted'>
    <div class="message-head">
        <div>15:06</div>
        <div><b>Guest</b></div>
    </div>
    <mat-card>
        <mat-card-content>Testantwort</mat-card-content>
    </mat-card>
</div>