//Revert default mat-card settings
.mat-mdc-card-content:last-child{
    padding: 0;
}

.mat-mdc-card-content:first-child{
    padding: 0;
}

.mat-mdc-card-content{
    padding:0;
}


#thread {
    margin:0;
    padding: 0;
    height: 100%;
}


.threadHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 2px 23px -10px;
    height: 50px;
    width: 100%;
}


.chat-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
}

.closeIcon {
    cursor: pointer;
}

.channelNameHeader {
    color: #444DF2;
}
