<div id="showChannel">
    <div id="showChannelHeader">
        <div>
            <h2>Mitglieder</h2>
        </div>
        <img src="assets/img/icons/close.svg" alt="close" (click)="close()">
    </div>
    <div *ngFor="let user of channelFirebaseService.userOnCurrentChannel">
        <img src="{{user.avatar}}" class="member-image"> {{ user.fullName }}
    </div>
   
    <div class="add-user-container">
        <img class="member-image" src="assets/img/icons/addmembers.svg">
        <span class="add-member-text" (click)="openAddMemberMenu()">Teilnehmer hinzufügen</span>
    </div>
    
</div>
<div id="showChannelBackground" (click)="close()"></div>