<form class="addChannelDialogContainer" [formGroup]="addChannelForm"
    (ngSubmit)="onSubmitNewChannel(addChannelForm.value)">

    <div id="addChannelDialogHeader">
        <h1>Channel erstellen</h1>
        <img src="/assets/img/icons/close.svg" alt="close">
    </div>

    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
        Beispiel.
    </p>

    <div class="channelNameContainer">
        <h2>Channel-Name</h2>
        <input class="channelNameInput newChannelInputField" formControlName="channelName"
            palceholder="# z.B. Kooperationsprojekte" required>
        <p *ngIf="addChannelForm.controls['channelName'].invalid && (addChannelForm.controls['channelName'].dirty || addChannelForm.controls['channelName'].touched)"
            class="errorValidation">
            Channelname muss mindesten 3 Zeichen lang sein!
        </p>
    </div>

    <div class="channelDescriptionContainer">
        <h2>Beschreibung</h2>
        <input class="channelDescriptionInput newChannelInputField" formControlName="channelDescription"
            palceholder="# z.B. Kooperationsprojekte" required>
        <p *ngIf="addChannelForm.controls['channelDescription'].invalid && (addChannelForm.controls['channelDescription'].dirty || addChannelForm.controls['channelDescription'].touched)"
            class="errorValidation">
            Bitte geben Sie eine Beschreibung ein!
        </p>
    </div>

    <button class="createChannelButton" type="submit" [disabled]="!addChannelForm.valid">
        Erstellen
    </button>

</form>