<div id="startScreen-container">
    <div class="uper-startscreen-container">
        <div id="startScreen-logo">
            <img src="assets/img/logo/logo.svg" alt="logo">
        </div>
        <div id="startScreen-register" *ngIf="showLogin && !imprint && !privacyPolicy">
            <h3>Neu bei DABubble?</h3>
            <a (click)="showLogin = false; showRegister = true">Konto erstellen</a>
        </div>
    </div>
    
        <app-login *ngIf="showLogin && !imprint && !privacyPolicy && !showAvatar"></app-login>
        <app-register *ngIf="showRegister && !showLogin && !imprint && !privacyPolicy && !showAvatar" (closeRegisterView)="closeRegister()"></app-register>
        <app-avatar-choose *ngIf="showAvatar && !showLogin" (closeAvatarView)="closeAvatar()"></app-avatar-choose>
        <app-forgot-password *ngIf="showForgotPasswort"></app-forgot-password>
        <app-imprint *ngIf="imprint" (closeImprintView)="closeImprintAndPrivacy()"></app-imprint>
        <app-privacy-policy *ngIf="privacyPolicy" (closePrivacyPolicyView)="closeImprintAndPrivacy()"></app-privacy-policy>

    <div id="startscreen-imprint-container">
        <a (click)="imprint = true" *ngIf="!imprint && !privacyPolicy">Impressum</a>
        <a (click)="privacyPolicy = true" *ngIf="!imprint && !privacyPolicy">Datenschutz</a>
    </div>
</div>