@use '@angular/material' as mat;



@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/nunito-v26-latin-regular.woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('assets/fonts/nunito-sans-v15-latin-regular.woff2');
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #edeefe;
}

.dsp-none{
    display: none;
}

input {
    font-family: 'Nunito', sans-serif;
}

textarea {
    font-family: 'Nunito', sans-serif;
}

.br-30 {
    border-radius: 30px;
}

.btn-blue{
    background-color: #444DF2; 
    color: white;
    padding: 12px 25px 12px 25px;
    font-family: 'Nunito', sans-serif;
    border-radius: 30px;
    border: 1px solid white;
}
.btn-white{
    background-color: white; 
    color: #444DF2;
    padding: 12px 25px 12px 25px;
    font-family: 'Nunito', sans-serif;
    border-radius: 30px;
    border: 1px solid #444DF2;
}

